{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Generate Reports</title>
</head>
<body>
    <header>
        <div class="header-left">
            <img src="{% static 'images/etaponlogo.png' %}" width="64px" length="64px">
        </div>
        <div class="header-right">
            <h1 class="header-text">E-Tapon</h1>
        </div>
    </header>
    <section>
        <!-- Trash bin condition-->
    </section>
    <section>
        <!-- table graph of bin over the hours -->
    </section>
    <section class="table-section">
        <!-- list of items in my database -->
        <p>Here are the lists of how much trash in the bin per hour and date</p>
        <table class="content-table">

            <thead>
                <tr>
                    <th>Bin Name</th>
                    <th>Bin Date</th>
                    <th>Bin Time</th>
                    <th>Bin Battery</th>
                    <th>Bin Level 1</th>
                    <th>Bin Level 2</th>
                </tr>
            </thead>
            <tbody>
                {% for k in data %}
                <tr>
                    <td>{{k.binName}}</td>
                    <td>{{k.binDate}}</td>
                    <td>{{k.binTime}}</td>
                    <td>{{k.battery}}</td>
                    <td>{{k.binLevel1}}</td>
                    <td>{{k.binLevel2}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </section>
</body>
</html>